div#userloginForm form,
div#userlogin form#userlogin2 {
	margin: 0 3em 1em 0;
	border: 1px solid #aaa;
	clear: both;
	padding: 1.5em 2em;
	background-color: #f9f9f9;
	float: left;
}

div#userloginForm table,
div#userlogin form#userlogin2 table {
	background-color: #f9f9f9;
}

div#userloginForm h2,
div#userlogin form#userlogin2 h2 {
	padding-top: 0;
}

div#userlogin .captcha {
	border: 1px solid #bbb;
	padding: 1.5em 2em;
	width: 400px;
	background-color: white;
}

#userloginprompt, #languagelinks {
	font-size: 85%;
}

#userlogin .loginText, #userlogin .loginPassword {
	width: 12em;
}

#wpCreateaccount {
	font-weight: bold;
}

div#userloginForm #wpPassword1 {
	/* @embed */
	background-image: url("password.png");
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 20px;
}
