ul#filetoc {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
}

/* Classes for Exif data display */
table.mw_metadata td {
	padding: 0.1em;
}

table.mw_metadata td,
table.mw_metadata th {
	text-align: center;
	border: 1px solid #aaa;
	padding-left: 0.1em;
	padding-right: 0.1em;
}

table.mw_metadata th {
	background-color: #f9f9f9;
}

table.collapsed tr.collapsable {
	display: none;
}

.sharedUploadNotice {
	font-style: italic;
}

div.multipageimagenavbox {
	border: solid 1px silver;
	padding: 4px;
	margin: 1em;
	-moz-border-radius: 6px;
	background: #f0f0f0;
}

div.multipageimagenavbox div.thumb {
	border: none;
	margin-left: 2em;
	margin-right: 2em;
}

div.multipageimagenavbox hr {
	margin: 6px;
}

table.multipageimage td {
	text-align: center;
}
